/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require answers.scss
 *= require questions.scss
 *= require_self
 *= require base.css.scss
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* Navbar Styles */
nav {
	height: 64px;
	width: 100%;
	position: relative;
	top: 0;
	background: #f5f5f5;
	z-index: 2;
}
nav ul {
	height: 64px;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 0;
	list-style: none;
}
nav ul li {
	font-size: 16px;
	padding: 0;
	display: inline-block;
}
nav ul li p {
	height: 64px;
	line-height: 32px;
	margin: 0;
	padding: 16px 16px;
}
nav ul li:hover {
	cursor: pointer;
	background-color: #eee;
}
nav ul li.action-item {
	color: white;
	background-color: #3ea9f5;
}
nav ul li.action-item:hover {
	color: white;
	background-color: #56b4f6;
}
nav ul.right { float: right; }


/* main content */
.jumbotron { 
	background-color: white; 
	padding: 2em 0;
	position: relative;
}

@media screen and (max-width: 1100px) {
	.jumbotron .content {
		width: 96%;
		margin: 0 2%;
	}
}

#header { 
	text-align: center; 
	background-image: url('cover-img1.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-size: cover;
	background-color: #3ea9f5;
	height: 35vh;
}
#header h1, h3 {
	color: white !important;
}


/* Footer */
footer {
	margin-top: 28px;
	padding: 14px;
	background-color: #5a5a5a;
	color: white;
	bottom: 0;
	
	p {
		color: #dddddd;
		font-size: 12px;
		display: inline-block;
	}
	p.right { float: right; }
}

@media screen and (max-width: 1100px) {
	footer .content {
		width: 96%;
		margin: 0 2%;
	}
}