<%= react_component('Main', currentUser: current_user.to_json()) %>

<!-- list of questions -->

<div class="jumbotron" id="question">
	<div class="content">
		<% @questions.each do |question| %>
			<div class="post">
			<%= link_to(question) do %>
			  	<h3><%= question.title %></h3>
			  	<!-- OP profile and icon -->
			  	<p>Description: <%= question.text %></p>
			<% end -%>
			</div>
		<% end %>
	</div>
</div>
>>>>>>> starting to edit header
